.appointment {
  margin: 20px 0px 0px 10px;
  padding: 20px;
  border-radius: 5px;
  border: 0px solid black;
  align-self: center;
}

h2{
    color:#014395;
}

form{
  border: 1px solid;
}

form div{
    margin: 10px 10px 10px 10px;
    border-bottom: 1px solid;
    padding: 12px;
    max-height: 500px;
}
div .text, #button {
  border: 0px none;
  padding: 12px;
}


input[type=text]{
  width:87%;
  float: right;
  height: 25px;
  margin-bottom:20px;
  text-align: left;
  margin-left:20px;
}

p.messages {
  font-size: 12;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.993);
}

p.hint {
  font-style: italic;
  color: rgba(0, 0, 0, 0.637);

}

* input[type="submit"] {
  width: 100%;
  height: 30px;
  background-color: #4a7ec0;
  border: 0px;
  border-radius: 5px;
}
input[type="radio"],
.class-type {
    vertical-align:top;
    margin-left:20px;
}
input[type="radio"] {
  float: left;
  width: auto;
  margin-left: 17.5em;
}
input[type='date']{
    margin-left:4.3em;
}

select{
    margin-left:5em;
    height: 30px;
    font-family:sans-serif;
    text-decoration: italic;
    width: 172px
}

.label, .label-required {
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
	text-align: right;
}

.label-required:after {
  content: " *";
  color: red;
}

#form-errors {
  font-weight: bold;
  font-size: 20;
  color: red;
}
