/*Parallax (image moves with scrolling) */
.parallax{
    position: inherit;
    align-self: center;
    align-items: center;
    background : url(I1.JPG) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1% 0% 0% 10px;
    width: 100%;
    background-position: center;
  }
  /*Adjusts the size of the parallax Image needs to be centered in the page*/
  .parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 750px;
  }
  
  /* paragraphs inside the parallax Needs adjusting*/
  
  .parallax-inner p{
    position: absolute;
        color: #ffffff;
        font-family: "Arapey", Sans-serif;
        padding-left: 2em;
        font-size: 40px;
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        transform: translate(-50%, -50%);
    }

    .header{
        font-family: "Georgia", Sans-serif;
        color: #0a264c;
        font-size: 200%;
      }
    
.dr1, .dr2, .dr3, .dr4{
    color:#004295;
    font-family: "Poppins", Sans-serif
  }