* {
    box-sizing: border-box;
  }
  
  body {
    background-color:rgb(233, 232, 232);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color:rgb(233, 232, 232);
    padding: 20px;
    text-align: left;
    font-size: 25px;
    color: rgb(2, 2, 75);
  }

  .logo{
      position: relative;
      float: right;
      width: 160px;
      height: 120px;
  }

  /* Style the navigation menu */
  nav {
    background-color:rgb(224, 224, 224);
    overflow: hidden;
  }
  
  /* Style the links inside the menu */
  nav a {
    float: left;
    display: block;
    color: rgb(1, 1, 48);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .img1{
    width:100%;
  }
  .txt{
      position: absolute;
      text-align: left;
      background: none;
      padding: 300px 100px;
      font-size: 200%;
      color: #f1f1f1;
  }

  .header{
    color: rgb(2, 2, 75);
    font-size: 200%;
  }

  .dr1, .dr2, .dr3, .dr4{
    color: rgb(15, 15, 97);
  }

  
  
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 800px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }