* {
  box-sizing: border-box;
  }
  
  body {
    background-color:#e6ecf4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Style the header */
  header {

    color: #004295    ;
    font-family: "Georgia", Sans-serif;
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 7.6px;
    background-color: #e6ecf4;
    padding: 20px;
    text-align: left;
    margin-bottom: 50px;
  }

  /* Style the logo */
  .logo{
      position: relative;
      float: right;
      width: 196px;
      height: 196px;
  }

  /* Style the navigation menu */
  nav {
    background-color:#9bb4d5;
    overflow: hidden;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

  }
  
  /* Style the links inside the menu */
  nav a {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    display: inline-block;
    font-weight: 500 ;
    color: #0a264c ;
    text-transform: uppercase;
    padding: 30px 30px;
    letter-spacing: 1.5px;
    text-decoration: none;
    flex-grow: 1;
    
  }

  /* change anchor's background when hovering or clicking */
  a.active,a:hover{
    background-color: #82a2ca;
  }

  /*Blank Area surrounding parallax*/
.BlankSpace{
  margin: 1% 0;
}

/*Parallax (image moves with scrolling) */
.parallax{
  background : url(img2.png) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
/*Adjusts the size of the parallax Image needs to be centered in the page*/
.parallax-inner{
padding-top: 15%;
padding-bottom: 15%;
}

/* paragraphs inside the parallax Needs adjusting*/
.parallax-inner p{
  position: absolute;
  text-align: left;
  background: none;
  padding: 100px 100px;
  font-size: 200%;
  color: black;
}

.header{
    color: rgb(2, 2, 75);
    font-size: 200%;
  }

.dr1, .dr2, .dr3, .dr4{
    color: rgb(15, 15, 97);
  }

  
  
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 800px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }